span.canc { color: green; }
span.nopage { color: red; }
span.samepage { color: gray; }

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
  padding-top:10px;
}

#footer #footer-icon {
    float: right;
}

.credit {
	margin-top: 10px;
}

#wikitech-logo {
	padding:30px 20px 0 0;
}

#userForms {
    width: 100%;
}

#userForms td {
    width: 45%;
}

#userForms td:first-child {
    padding-right: 20px;
}
