span.canc { color: green; }
span.nopage { color: red; }
span.samepage { color: gray; }

#footer {
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .credit {
    margin: 20px 0;
}
